django-env/
# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/
# Ignore virtual environment directories
# Ignore Django environment directories
# django-env/
# Ignore libraries
*Lib/
# Ignore compiled files
*.so
*.dll

# uploaded_files
# media/
# media/uploaded_files/
media/
static/

.env